In [13]:
# загрузка модулей
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind
import random
# настройка
pd.set_option('display.max_rows', 50)  # показывать больше строк
pd.set_option('display.max_columns', 50)  # показывать больше колонок

In [120]:
import pandas as pd
log = pd.read_csv('C:\\Users\\user\\Documents\\DataScience\\PYTHON\\PariLine\\log.csv',header = None)
log.colums=[]
sample = pd.read_csv('C:\\Users\\user\\Documents\\DataScience\\PYTHON\\PariLine\\sample.csv')
columns = sample
sample3=sample[sample.City.str.contains("о",na=False)]
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   object
 1   1       985 non-null    object
 2   2       485 non-null    float64
 3   3       138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
import pandas as pd
log = pd.read_csv('C:\\Users\\user\\Documents\\DataScience\\PYTHON\\PariLine\\log.csv',header = None)
log.columns=['user_id','time','bet','win']

In [16]:
log.time.isna().sum()

15

In [17]:
y=log
y.dropna(axis=1)

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

In [18]:
n=log
n.dropna(axis=0)

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

In [19]:
a=log

In [20]:
a.dropna(axis=0,subset=['user_id','time'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [21]:
b=log

In [22]:
b.drop_duplicates(subset=['user_id','time'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [23]:
log.time=log.time.apply(lambda x: str(x)[1:])
log['time'] = pd.to_datetime(log['time'])

ParserError: Unknown string format: an

In [ ]:
log.time.max()

In [62]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['time'].head()

13    2019-01-02 08:57:36
28    2019-01-04 13:59:42
150   2019-01-16 21:54:22
188   2019-01-21 18:34:44
204   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]

In [25]:
year_column = log['time'].apply(lambda x: x.year)

In [26]:
log

,user_id,time,bet,win
13,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0
28,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0
150,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0
188,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0
204,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0
...,...,...,...,...
966,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0
970,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0
971,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0
975,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0
990,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0

In [27]:
year_column

13     2019
28     2019
150    2019
188    2019
204    2019
       ...
966    2019
970    2019
971    2019
975    2019
990    2019
Name: time, Length: 133, dtype: int64

In [28]:
year_column = log['time'].dt.year

In [30]:
minute_column=log['time'].dt.minute

In [31]:
minute_column.value_counts()

36    7
57    5
44    5
18    5
35    4
     ..
37    1
39    1
47    1
53    1
27    1
Name: time, Length: 53, dtype: int64

In [32]:
month_column=log['time'].dt.month

In [33]:
month_column.value_counts()

3    57
4    51
2    16
1     9
Name: time, dtype: int64

In [63]:
date_column = log['time'].dt.date

In [64]:
b=pd.to_datetime(date_column).dt.dayofweek

In [66]:
b.value_counts()

1    27
6    21
4    21
2    19
3    17
5    16
0    12
Name: time, dtype: int64

In [68]:
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log =log [log ['time'].isna()==False]
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log['time'] = log['time'].apply(lambda x: x.hour)
def time_of_day(x):
    if x<=5:
        return 'ночь'
    elif 6<=x<=11:
        return 'утро'
    elif 11<=x<=17:
        return 'день'
    elif 18<=x<=23:
        return 'вечер'
    else:
        return 'не время суток'
log['time'] = log['time'].apply(time_of_day)
log['time'].value_counts(ascending=True).head(7)

вечер    227
день     240
утро     253
ночь     265
Name: time, dtype: int64

In [71]:
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna()
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log['hour']=log['time'].dt.hour
print(log)

                              user_id                time        bet  \
14   Запись пользователя № - user_917 2019-01-02 08:57:36   145732.0
29   Запись пользователя № - user_942 2019-01-04 13:59:42  1678321.0
151  Запись пользователя № - user_982 2019-01-16 21:54:22      100.0
189  Запись пользователя № - user_964 2019-01-21 18:34:44      200.0
205  Запись пользователя № - user_931 2019-01-22 05:26:59      300.0
..                                ...                 ...        ...
967  Запись пользователя № - user_975 2019-04-19 22:25:15     1000.0
971  Запись пользователя № - user_912 2019-04-20 10:35:49    10554.0
972  Запись пользователя № - user_926 2019-04-20 10:35:50    10354.0
976  Запись пользователя № - user_970 2019-04-20 10:35:54    10354.0
991  Запись пользователя № - user_965 2019-04-20 12:55:41      800.0

           win  hour
14   1987653.0     8
29   9876543.0    13
151     4749.0    21
189     4667.0    18
205     4319.0     5
..         ...   ...
967     6108.0    22
971    31799.0    10
972    30244.0    10
976    30691.0    10
991     6927.0    12

[133 rows x 5 columns]

In [77]:
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
#
log['bet']=log['bet'].fillna(0)
log.info()
log.bet.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      1000 non-null   float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

0.0          515
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

In [93]:
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
#
log['bet']=log['bet'].fillna(0)
log

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      0.0      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      0.0      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      0.0      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      0.0      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      0.0      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [94]:
def fillna_win(row):  
    # Нужно дописать  
    if row['win']>0:
        return row['win']
    else:
        if row['bet']==0:
            return 0
        else:
            return -row['bet']
# Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
      
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win  
len(log[log['win']<0])

347

In [95]:
log['net']=log['win']-log['bet']

In [96]:
log

,user_id,time,bet,win,net
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,0.0,0.0,0.0
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,0.0,0.0,0.0
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,0.0,0.0,0.0
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,0.0,0.0,0.0
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,0.0,0.0,0.0
...,...,...,...,...,...
995,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,-9754.0,-19508.0
996,#error,NaN,10054.0,29265.0,19211.0
997,#error,NaN,10454.0,-10454.0,-20908.0
998,#error,NaN,1000.0,-1000.0,-2000.0
999,#error,NaN,10754.0,-10754.0,-21508.0

In [85]:
len(log[log['net']>0])

138

In [86]:
log[log['net']>0].mean()

bet    15367.688406
win    95621.021739
net    80253.333333
dtype: float64

In [87]:
log[log['net']>0].median()

bet     600.0
win    5935.0
net    5347.0
dtype: float64

In [106]:
len(log[log['win']>0])/len(log)

0.138

In [105]:
log[log['w']<0].mean()

bet    3372.743516
win   -3372.743516
net   -6745.487032
dtype: float64

In [123]:
# ваш код здесь
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet=log['bet'].fillna(0)
log.win=log['win'].fillna(0)
min_bet_value=log[log['bet']>0].bet.min()
min_bet_amount =len(log[log['bet']==min_bet_value])

In [124]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.min()

user_id    #error
bet           100
win          3691
dtype: object

In [127]:
user = pd.read_csv('users.csv', header=None,encoding='koi8_r',sep='\t')

In [132]:
user.columns = ['user_id', 'email', 'geo']
user

      user_id                     email          geo
0      Юзверь                      мейл          Гео
1    User_943       Accumanst@gmail.com       Ижевск
2    User_908         Advismowr@mail.ru       Ижевск
3    User_962           Anachso@ukr.net    Краснодар
4    User_973          Antecia@inbox.ru        Пермь
..        ...                       ...          ...
96   User_959  UpdatesCurious@yahoo.com       Тюмень
97   User_901        V2artierso@mail.ru  Арзангелтск
98   User_970          Vashoterlo@bk.ru      Воронеж
99   User_965       Visuareda@yahoo.com      Воронеж
100  User_921              Aavast@ya.ru       Ижевск

[101 rows x 3 columns]

In [136]:
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet=log['bet'].fillna(0)
log.win=log['win'].fillna(0)
user = pd.read_csv('users.csv', header=None,encoding='koi8_r',sep='\t')
user.columns = ['user_id', 'email', 'geo']
# Приведем признак user_id к одному формату в обоих датасетах  
user.user_id = user.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
user_log=pd.merge(user, log, on='user_id')
len(user_log)

975

In [142]:
user_log

,user_id,email,geo,time,bet,win
0,user_943,Accumanst@gmail.com,Ижевск,[2019-01-06 21:06:57,0.0,0.0
1,user_943,Accumanst@gmail.com,Ижевск,[2019-01-10 12:16:22,100.0,0.0
2,user_943,Accumanst@gmail.com,Ижевск,[2019-01-27 1:18:47,100.0,0.0
3,user_943,Accumanst@gmail.com,Ижевск,[2019-02-10 11:09:24,100.0,5456.0
4,user_943,Accumanst@gmail.com,Ижевск,[2019-02-12 15:09:38,300.0,5245.0
...,...,...,...,...,...,...
970,user_965,Visuareda@yahoo.com,Воронеж,[2019-04-20 12:55:41,800.0,6927.0
971,user_921,Aavast@ya.ru,Ижевск,[2019-01-07 1:05:59,0.0,0.0
972,user_921,Aavast@ya.ru,Ижевск,[2019-02-05 14:08:57,0.0,0.0
973,user_921,Aavast@ya.ru,Ижевск,[2019-02-09 23:20:21,400.0,6067.0
974,user_921,Aavast@ya.ru,Ижевск,[2019-02-10 17:53:37,900.0,0.0

In [144]:
user_log['net']=user_log['win']-user_log['bet']
user_log

,user_id,email,geo,time,bet,win,net
0,user_943,Accumanst@gmail.com,Ижевск,[2019-01-06 21:06:57,0.0,0.0,0.0
1,user_943,Accumanst@gmail.com,Ижевск,[2019-01-10 12:16:22,100.0,0.0,-100.0
2,user_943,Accumanst@gmail.com,Ижевск,[2019-01-27 1:18:47,100.0,0.0,-100.0
3,user_943,Accumanst@gmail.com,Ижевск,[2019-02-10 11:09:24,100.0,5456.0,5356.0
4,user_943,Accumanst@gmail.com,Ижевск,[2019-02-12 15:09:38,300.0,5245.0,4945.0
...,...,...,...,...,...,...,...
970,user_965,Visuareda@yahoo.com,Воронеж,[2019-04-20 12:55:41,800.0,6927.0,6127.0
971,user_921,Aavast@ya.ru,Ижевск,[2019-01-07 1:05:59,0.0,0.0,0.0
972,user_921,Aavast@ya.ru,Ижевск,[2019-02-05 14:08:57,0.0,0.0,0.0
973,user_921,Aavast@ya.ru,Ижевск,[2019-02-09 23:20:21,400.0,6067.0,5667.0
974,user_921,Aavast@ya.ru,Ижевск,[2019-02-10 17:53:37,900.0,0.0,-900.0

In [150]:
user_log.groupby("user_id").net.sum().median()

1986.0

In [151]:
user_log.groupby('user_id').bet.apply(lambda x: (x==0).sum() if x.sum() else 0).mean()

5.05

In [158]:
group0 = user_log[user_log.bet==0].groupby('user_id').bet.count()
group1 = user_log[user_log.bet!=0].groupby('user_id').bet.count()
(group1/group0).mean()

1.3250952380952379

In [160]:
user_log['time'] = user_log['time'].apply(lambda x: x[1:])
user_log['time'] = pd.to_datetime(user_log['time'])
def agg_func(group):
    if (group['bet'] > 0).sum() == 0:
        return np.nan
    else:
        t_0 = group[group['bet'] == 0]['time'].min()
        t_1 = group[group['bet'] > 0]['time'].min()
        return t_1 - t_0
display(user_log.groupby('user_id')[['time', 'bet']].apply(agg_func).mean().days)

46

In [164]:
user_log.groupby('geo').win.sum().sort_values()

geo
Тюмень                 4701.0
Екатеринбург          36682.0
Ставрополь            46003.0
Краснодар             62718.0
Хабаровск             65459.0
Пермь                 67734.0
Арзангелтск           74375.0
Красноярск            84767.0
Ижевск                84895.0
Ярославль             97441.0
Казань                97806.0
Санкт-Петербург      151007.0
Воронеж              184338.0
Москва             11959741.0
Name: win, dtype: float64

In [173]:
#mi=user_log.groupby('geo').bet.mean().min()
mi=user_log[user_log['bet']>0].groupby('geo').bet.mean().min()
ma=user_log[user_log['bet']>0].groupby('geo').bet.mean().max()

In [174]:
ma/mi

127.81602335164835

In [178]:
import pandas as pd
from datetime import datetime, timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet=log['bet'].fillna(0)
log.win=log['win'].fillna(0)
user = pd.read_csv('users.csv', header=None,encoding='koi8_r',sep='\t')
user.columns = ['user_id', 'email', 'geo']
# Приведем признак user_id к одному формату в обоих датасетах  
user.user_id = user.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
user_log=pd.merge(user, log, on='user_id')
sample2 = user_log.groupby('geo').user_id.count()

geo
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           60
Ярославль           89
Name: user_id, dtype: int64