In [1]:
def check_server(mode):
    if mode == "memory":
        return "Memory is ok"
    elif mode == "connection":
        return"Connection is ok"
    else:
        raise ValueError("ValueError")

In [2]:
try:
    print("Inside try block")
except:
    print("Inside except block")

Inside try block

In [3]:
try:
    4 + "b"
    print("Inside try block")
except:
    print("Inside except block")

Inside except block

In [4]:
def safe_sum(x, y):
    try:
        return x+y
    except TypeError:
        print(f"Can't sum {x} and {y}")
        return 0

In [5]:

safe_sum(5, 'a')

Can't sum 5 and a

0

In [6]:
import pandas as pd

In [7]:
imdb=pd.read_csv('./imdb.csv')

In [8]:
imdb

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [9]:
imdb[imdb['Title']=='Suicide Squad']

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [10]:
import csv  
  
# открываем файл  
with open("imdb.csv", newline="") as csvfile:  
    # делаем reader, который построчно берёт данные из файла  
    reader = csv.reader(csvfile)  
    for i in xrange(5):  
        print(next(reader))

NameError: name 'xrange' is not defined

In [11]:
import csv  
  
with open("imdb.csv", newline="") as csvfile:  
    reader = csv.reader(csvfile)  
    for i in range(5):  
        print(next(reader))

['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']
['1', 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', 'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.', 'James Gunn', 'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana', '2014', '121', '8.1', '757074', '333.13', '76']
['2', 'Prometheus', 'Adventure,Mystery,Sci-Fi', 'Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.', 'Ridley Scott', 'Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron', '2012', '124', '7', '485820', '126.46', '65']
['3', 'Split', 'Horror,Thriller', 'Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.', 'M. Night Shyamalan', 'James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula', '2016', '117', '7.3', '157606', '138.12', '62']
['4', 'Sing', 'Animation,Comedy,Family', "In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.", 'Christophe Lourdelet', 'Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson', '2016', '108', '7.2', '60545', '270.32', '59']

In [12]:
print(repr('12.48'))

'12.48'

In [13]:
from copy import copy

def remove_dups(values):
    new_values = []
    for i in range(len(values)):
        if values[i] not in new_values:
            new_values.append(values[i])
    return new_values

remove_dups([1, 12, 4, 1, 4, 8])

[1, 12, 4, 8]

In [14]:

    from collections import Counter  
    import pdb  
      
      
    def count_genres(column):  
        genres = []  
        # ставим брейкпоинт в этом месте  
        pdb.set_trace()  
        for movie_genres in column:  
            splitted = movie_genres.split(",")  
            genres.extend(splitted)  
        counter = Counter(genres)  
          
        return counter   
       
    print(count_genres(imdb["Genre"]))

> <ipython-input-14-87b8e79d005a>(9)count_genres()
      7     # ставим брейкпоинт в этом месте
      8     pdb.set_trace()
----> 9     for movie_genres in column:
     10         splitted = movie_genres.split(",")
     11         genres.extend(splitted)

ipdb> exit

BdbQuit:

In [15]:
   user_db = [
    {"name": "Elena", "age": 19, "salary": 80_000},
    {"name": "Sergey", "age": 31, "salary": 160_000},
    {"name": "Olga", "age": 33, "salary": 170_000},
    {"name": "Vadim", "age": 17, "salary": 45_000}
]

In [16]:
from collections import defaultdict
def group_values(db, value_key, group_key, step):
    grouped = defaultdict(list) 
    for item in db:
        grouped[item[group_key] // step *step].append(item[value_key])
    return grouped

In [17]:
group_values(user_db, "salary", "age", 10)

defaultdict(list, {10: [80000, 45000], 30: [160000, 170000]})

In [18]:
from collections import defaultdict
def group_values(db, value_key, group_key, step):
    grouped = defaultdict(list) 
    for item in db:
        grouped[item[group_key] // step *step].append(item[value_key])
    return grouped

In [19]:
import pytest

In [20]:
def test_something():  
    assert True  
      
def test_equal_string():  
    greetings = "Hello, " +  "world"  
    assert greetings == "Hello, world"  
  
def test_numbers():  
    total = 73 + 42  
    assert total == 115

In [21]:
# Функция, которая обращает все строки в числа и подставляет значение по умолчанию, если встречает пропуск.  
def digitize_values(collection, default=0):  
    no_missed = [value if value else default for value in collection]   
    return [float(value) for value in no_missed]  
  
# Мы передаём на вход произвольные параметры и смотрим, что функция корректно работает с ними   
# Проверим, что функция корректно обращает список строк в список чисел  
def test_digitize_convert_to_float():  
    assert digitize_values(["10", "50"])  == [10, 50]  
    assert digitize_values(["70.2", "33.4"]) == [70.2, 33.4]  
      
# Хорошей практикой считается покрывать разные аспекты функции в разных тестах  
# Здесь мы проверим, что функция закрывает пропуски   
def test_digitize_restore_missed():  
    assert digitize_values([""], 10) == [10]  
    assert digitize_values(["20", None], 50) == [20, 50]  
      
# Ещё стоит проверять, что наша функция корректно работает на граничных значениях  
# Например, на пустых данных  
def test_digitize_empty():  
    assert digitize_values([]) == []

In [22]:
def safe_exec(ext_func):  
    try:  
        return(ext_func())  
    except: 
        print('division by zero') 
        return 0