In [4]:
import pandas as pd
df=pd.read_csv('C:\\Users\\user\\Documents\\DataScience\\PYTHON\\data_sf.csv')

In [5]:
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [6]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Argentina    3
Uruguay      3
Belgium      3
Germany      3
France       2
Brazil       1
Poland       1
Portugal     1
Slovenia     1
England      1
Croatia      1
Italy        1
Name: Nationality, dtype: int64

In [8]:
s.index

Index(['Spain', 'Argentina', 'Uruguay', 'Belgium', 'Germany', 'France',
       'Brazil', 'Poland', 'Portugal', 'Slovenia', 'England', 'Croatia',
       'Italy'],
      dtype='object')

In [9]:
s['Germany']

3

In [10]:
s.loc[s > 1]

Spain        4
Argentina    3
Uruguay      3
Belgium      3
Germany      3
France       2
Name: Nationality, dtype: int64

In [11]:
s.loc[s > 2]

Spain        4
Argentina    3
Uruguay      3
Belgium      3
Germany      3
Name: Nationality, dtype: int64

In [17]:
c = df['Club'].value_counts()
c

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
Padova               29
                     ..
Olympiacos CFP        8
GD Chaves             7
Vitória Guimarães     7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [15]:
len(c.index)

10

In [21]:
p = df['Position'].value_counts(normalize=True)
display(p)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [22]:
s = small_df['Age'].value_counts()
display(s)

27    5
32    5
31    3
26    3
29    2
24    2
33    2
30    1
28    1
25    1
Name: Age, dtype: int64

In [23]:
s = small_df['Wage'].value_counts()
display(s)

205000    3
355000    2
240000    2
300000    1
130000    1
225000    1
455000    1
340000    1
315000    1
565000    1
405000    1
215000    1
380000    1
285000    1
145000    1
290000    1
125000    1
200000    1
420000    1
94000     1
260000    1
Name: Wage, dtype: int64

In [29]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [28]:
(205000-260000)/5

-11000.0

In [32]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [35]:
small_df = df[df.columns[0:7]].head(25)
s = small_df['Wage'].value_counts(bins=4)
display(s)
small_df['Wage'] > s.index[3].left

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [36]:
p = df['FKAccuracy'].value_counts(normalize=True,bins=5)
display(p)

(21.2, 39.4]     0.376754
(39.4, 57.6]     0.306816
(57.6, 75.8]     0.163449
(2.908, 21.2]    0.136466
(75.8, 94.0]     0.016515
Name: FKAccuracy, dtype: float64

In [3]:
import pandas as pd
df=pd.read_csv('C:\\Users\\user\\Documents\\DataScience\\PYTHON\\data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
small_df
s = small_df['Nationality'].value_counts()
print(s.index)
print(len(s.index))

Index(['Spain', 'Germany', 'Argentina', 'Belgium', 'Uruguay', 'France',
       'Poland', 'Portugal', 'Croatia', 'Slovenia', 'England', 'Brazil',
       'Italy'],
      dtype='object')
13

In [4]:
small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy'], dtype=object)

In [5]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

        index  Nationality
0       Spain            4
1     Germany            3
2   Argentina            3
3     Belgium            3
4     Uruguay            3
5      France            2
6      Poland            1
7    Portugal            1
8     Croatia            1
9    Slovenia            1
10    England            1
11     Brazil            1
12      Italy            1

In [6]:
s_df.columns = ['Nationality','Players Count']
display(s_df)

   Nationality  Players Count
0        Spain              4
1      Germany              3
2    Argentina              3
3      Belgium              3
4      Uruguay              3
5       France              2
6       Poland              1
7     Portugal              1
8      Croatia              1
9     Slovenia              1
10     England              1
11      Brazil              1
12       Italy              1

In [13]:
df[df.Nationality == 'Spain']['Wage'].value_counts(normalize=True,bins=4)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [15]:
len(df[df.Club == 'Manchester United']['Nationality'].value_counts())

13

In [26]:
s=df[(df.Nationality == 'Brazil')&(df.Club=='Juventus')]
s['Name'].unique()

In [28]:
df[df.Age > 35]['Club'].value_counts()

Club Atlético Huracán          4
Hokkaido Consadole Sapporo     4
Morecambe                      3
San Martín de San Juan         3
Gimnasia y Esgrima La Plata    3
                              ..
PEC Zwolle                     1
SD Huesca                      1
CD Tondela                     1
Sporting de Charleroi          1
Cerezo Osaka                   1
Name: Club, Length: 212, dtype: int64

In [30]:
df[df.Nationality == 'Argentina']['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [32]:
df[df.Nationality == 'Spain']['Age'].value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [35]:
df.groupby(['Club','Nationality']).groups

{(' SSV Jahn Regensburg', 'Denmark'): Int64Index([4154], dtype='int64'),
 (' SSV Jahn Regensburg',
  'Germany'): Int64Index([ 1642,  2284,  2374,  2401,  2575,  2583,  2850,  3418,  3908,
              3989,  5151,  5177,  5525,  6070,  7173,  8905,  9061, 10825,
             12482],
            dtype='int64'),
 (' SSV Jahn Regensburg', 'Kosovo'): Int64Index([7477], dtype='int64'),
 (' SSV Jahn Regensburg', 'Lithuania'): Int64Index([6679], dtype='int64'),
 (' SSV Jahn Regensburg', 'Morocco'): Int64Index([5885], dtype='int64'),
 (' SSV Jahn Regensburg', 'Poland'): Int64Index([2868], dtype='int64'),
 ('1. FC Heidenheim 1846',
  'Germany'): Int64Index([ 1060,  1805,  1978,  2050,  2066,  2926,  3584,  3605,  4312,
              4457,  4783,  6818,  7160,  7166,  7460,  9475, 10052, 10565,
             11217, 12236],
            dtype='int64'),
 ('1. FC Kaiserslautern', 'Canada'): Int64Index([4413], dtype='int64'),
 ('1. FC Kaiserslautern',
  'Germany'): Int64Index([ 2931,  3590,  4270,  4475,  4483,  4709,  4779,  5079,  5325,
              5403,  5855,  7295,  8784,  9496, 10019, 10122, 10671, 11500,
             11970, 12222],
            dtype='int64'),
 ('1. FC Kaiserslautern', 'Ivory Coast'): Int64Index([9964], dtype='int64'),
 ('1. FC Kaiserslautern', 'Turkey'): Int64Index([5917], dtype='int64'),
 ('1. FC Köln', 'Austria'): Int64Index([899], dtype='int64'),
 ('1. FC Köln', 'Denmark'): Int64Index([7052], dtype='int64'),
 ('1. FC Köln',
  'Germany'): Int64Index([166, 379, 1399, 3415, 6904, 8892, 12376], dtype='int64'),
 ('1. FC Köln', 'United States'): Int64Index([12171], dtype='int64'),
 ('1. FC Magdeburg', 'Bosnia Herzegovina'): Int64Index([2069], dtype='int64'),
 ('1. FC Magdeburg', 'France'): Int64Index([7595], dtype='int64'),
 ('1. FC Magdeburg',
  'Germany'): Int64Index([ 1967,  2152,  2569,  2886,  3030,  3300,  3332,  4436,  4913,
              5002,  5033,  5493,  6329,  7046,  8387,  9626, 11125],
            dtype='int64'),
 ('1. FC Magdeburg', 'Ghana'): Int64Index([5768], dtype='int64'),
 ('1. FC Magdeburg', 'Kosovo'): Int64Index([11400], dtype='int64'),
 ('1. FC Nürnberg', 'Austria'): Int64Index([5556], dtype='int64'),
 ('1. FC Nürnberg', 'Brazil'): Int64Index([724], dtype='int64'),
 ('1. FC Nürnberg',
  'Germany'): Int64Index([1920, 4775, 5985, 8590, 8632, 9217, 9858, 10480], dtype='int64'),
 ('1. FC Nürnberg', 'Netherlands'): Int64Index([1208], dtype='int64'),
 ('1. FC Nürnberg', 'Spain'): Int64Index([5265], dtype='int64'),
 ('1. FC Nürnberg', 'Sweden'): Int64Index([1254], dtype='int64'),
 ('1. FC Union Berlin', 'Austria'): Int64Index([1493, 4683], dtype='int64'),
 ('1. FC Union Berlin',
  'Germany'): Int64Index([1422, 2530, 3635, 3844, 11038, 11296, 12340], dtype='int64'),
 ('1. FC Union Berlin', 'Kosovo'): Int64Index([2876], dtype='int64'),
 ('1. FC Union Berlin', 'Norway'): Int64Index([4826], dtype='int64'),
 ('1. FSV Mainz 05', 'France'): Int64Index([1342], dtype='int64'),
 ('1. FSV Mainz 05',
  'Germany'): Int64Index([670, 765, 1201, 6868, 8792, 10293, 10561], dtype='int64'),
 ('1. FSV Mainz 05', 'Ghana'): Int64Index([6218], dtype='int64'),
 ('1. FSV Mainz 05', 'Luxembourg'): Int64Index([10566], dtype='int64'),
 ('1. FSV Mainz 05', 'Spain'): Int64Index([545], dtype='int64'),
 ('AC Ajaccio', 'Albania'): Int64Index([4697], dtype='int64'),
 ('AC Ajaccio', 'Comoros'): Int64Index([9449], dtype='int64'),
 ('AC Ajaccio',
  'France'): Int64Index([ 1507,  1672,  2118,  2180,  2798,  3046,  3742,  3879,  4522,
              5698,  6607,  7484,  8519, 11043, 11789, 12221],
            dtype='int64'),
 ('AC Ajaccio', 'Haiti'): Int64Index([12244], dtype='int64'),
 ('AC Horsens', 'Croatia'): Int64Index([3881], dtype='int64'),
 ('AC Horsens',
  'Denmark'): Int64Index([ 2924,  5419,  5471,  5929,  6518,  6669,  6736,  7115,  8049,
              8203,  9281,  9804, 10251, 10454, 11241, 11513, 11763, 12598,
             12692, 12743],
            dtype='int64'),
 ('AC Horsens', 'Faroe Islands'): Int64Index([3640, 8237], dtype='int64'),
 ('AC Horsens', 'Italy'): Int64Index([12011], dtype='int64'),
 ('AC Horsens', 'Norway'): Int64Index([2491], dtype='int64'),
 ('AD Alcorcón', 'Argentina'): Int64Index([2216], dtype='int64'),
 ('AD Alcorcón', 'Azerbaijan'): Int64Index([3601], dtype='int64'),
 ('AD Alcorcón', 'Mauritania'): Int64Index([3801], dtype='int64'),
 ('AD Alcorcón',
  'Spain'): Int64Index([1407, 1607, 1651, 2117, 2619, 3011, 3177, 3278, 4808, 6385, 6805,
             7120, 7141, 7397, 8901, 9526],
            dtype='int64'),
 ('ADO Den Haag', 'Curacao'): Int64Index([4969], dtype='int64'),
 ('ADO Den Haag',
  'Netherlands'): Int64Index([ 1377,  1825,  3037,  3611,  3783,  3825,  4555,  5599,  6344,
              6816,  8296,  8391,  9055,  9157, 10330, 10506],
            dtype='int64'),
 ('ADO Den Haag', 'Suriname'): Int64Index([2976], dtype='int64'),
 ('ADO Den Haag', 'Uganda'): Int64Index([6787], dtype='int64'),
 ('AEK Athens', 'Croatia'): Int64Index([700], dtype='int64'),
 ('AEK Athens',
  'Greece'): Int64Index([751, 1180, 1309, 3314, 5304, 5975, 10026, 12119], dtype='int64'),
 ('AEK Athens', 'Portugal'): Int64Index([1356], dtype='int64'),
 ('AEK Athens', 'Ukraine'): Int64Index([754], dtype='int64'),
 ('AFC Wimbledon', 'Australia'): Int64Index([12239], dtype='int64'),
 ('AFC Wimbledon',
  'England'): Int64Index([ 3464,  3868,  5292,  5566,  6228,  6526,  6566,  7070,  7181,
              7241,  7256,  7698,  7978,  8213,  8356,  9521, 10693, 11132,
             11318, 12078, 12139, 12142, 12679],
            dtype='int64'),
 ('AFC Wimbledon', 'Ghana'): Int64Index([4990], dtype='int64'),
 ('AFC Wimbledon', 'New Zealand'): Int64Index([12266], dtype='int64'),
 ('AIK', 'Canada'): Int64Index([11341], dtype='int64'),
 ('AIK', 'Eritrea'): Int64Index([1451], dtype='int64'),
 ('AIK', 'Iceland'): Int64Index([8611], dtype='int64'),
 ('AIK', 'Serbia'): Int64Index([9363], dtype='int64'),
 ('AIK',
  'Sweden'): Int64Index([ 1961,  3323,  3466,  3651,  4274,  4615,  5201,  6418,  7655,
              8072, 11325, 11399, 11633, 11729, 12386],
            dtype='int64'),
 ('AJ Auxerre', 'Comoros'): Int64Index([5626], dtype='int64'),
 ('AJ Auxerre',
  'France'): Int64Index([ 1606,  2028,  2132,  3597,  4980,  5006,  5396,  8419,  9728,
             10420, 10471, 10849, 11520],
            dtype='int64'),
 ('AJ Auxerre', 'Haiti'): Int64Index([4731], dtype='int64'),
 ('AJ Auxerre', 'Mauritania'): Int64Index([2962], dtype='int64'),
 ('AJ Auxerre', 'United States'): Int64Index([5542], dtype='int64'),
 ('AS Béziers', 'Algeria'): Int64Index([1557], dtype='int64'),
 ('AS Béziers', 'Belgium'): Int64Index([9981], dtype='int64'),
 ('AS Béziers', 'Brazil'): Int64Index([4215, 5965], dtype='int64'),
 ('AS Béziers',
  'France'): Int64Index([ 5134,  6435,  6558,  6867,  7590,  7870,  8540,  8587, 10106,
             10771, 10907, 10987, 11444, 11689, 11942],
            dtype='int64'),
 ('AS Béziers', 'Gambia'): Int64Index([8428], dtype='int64'),
 ('AS Béziers', 'Guinea'): Int64Index([5604], dtype='int64'),
 ('AS Béziers', 'Ivory Coast'): Int64Index([6427], dtype='int64'),
 ('AS Béziers', 'Morocco'): Int64Index([4796, 5809], dtype='int64'),
 ('AS Béziers', 'Togo'): Int64Index([7730], dtype='int64'),
 ('AS Monaco', 'Belgium'): Int64Index([475], dtype='int64'),
 ('AS Monaco', 'Brazil'): Int64Index([477], dtype='int64'),
 ('AS Monaco', 'Colombia'): Int64Index([137], dtype='int64'),
 ('AS Monaco', 'Croatia'): Int64Index([172], dtype='int64'),
 ('AS Monaco',
  'France'): Int64Index([400, 4009, 6278, 6431, 7588, 8046, 8314], dtype='int64'),
 ('AS Monaco', 'Italy'): Int64Index([918], dtype='int64'),
 ('AS Monaco', 'Montenegro'): Int64Index([428], dtype='int64'),
 ('AS Monaco', 'Morocco'): Int64Index([991], dtype='int64'),
 ('AS Monaco', 'Poland'): Int64Index([173], dtype='int64'),
 ('AS Monaco', 'Portugal'): Int64Index([298], dtype='int64'),
 ('AS Monaco', 'Russia'): Int64Index([365], dtype='int64'),
 ('AS Monaco', 'Senegal'): Int64Index([4487], dtype='int64'),
 ('AS Nancy Lorraine', 'Belarus'): Int64Index([1995], dtype='int64'),
 ('AS Nancy Lorraine', 'Burkina Faso'): Int64Index([2943], dtype='int64'),
 ('AS Nancy Lorraine', 'Cameroon'): Int64Index([2432], dtype='int64'),
 ('AS Nancy Lorraine', 'Cape Verde'): Int64Index([2428], dtype='int64'),
 ('AS Nancy Lorraine', 'Congo'): Int64Index([6963, 7856], dtype='int64'),
 ('AS Nancy Lorraine',
  'France'): Int64Index([ 2169,  3209,  3237,  3289,  3457,  3579,  4465,  5026,  5666,
              5972,  6374,  8468,  9543, 10306, 10854, 11260, 11746, 11906],
            dtype='int64'),
 ('AS Nancy Lorraine', 'Ivory Coast'): Int64Index([3920], dtype='int64'),
 ('AS Saint-Étienne',
  'France'): Int64Index([136, 725, 822, 1314, 2643, 2702, 6892, 9822, 10234, 10718, 11503], dtype='int64'),
 ('AS Saint-Étienne',
  'Senegal'): Int64Index([1394, 1913, 8321], dtype='int64'),
 ('AS Saint-Étienne', 'Slovenia'): Int64Index([897], dtype='int64'),
 ('AZ Alkmaar', 'Germany'): Int64Index([6039], dtype='int64'),
 ('AZ Alkmaar',
  'Netherlands'): Int64Index([1158, 1246, 1768, 3458, 3891, 4207, 4842, 7059], dtype='int64'),
 ('AZ Alkmaar', 'Norway'): Int64Index([849], dtype='int64'),
 ('Aalborg BK', 'Albania'): Int64Index([12510], dtype='int64'),
 ('Aalborg BK',
  'Denmark'): Int64Index([ 2509,  2646,  3862,  3922,  5707,  6119,  6555,  6715,  7094,
              7961,  9334, 10694, 11816, 12342, 12440, 12520, 12652, 12758],
            dtype='int64'),
 ('Aalborg BK', 'Slovakia'): Int64Index([9259], dtype='int64'),
 ('Aalborg BK', 'Sweden'): Int64Index([1458], dtype='int64'),
 ('Aalborg BK', 'United States'): Int64Index([11262], dtype='int64'),
 ('Aarhus GF', 'Australia'): Int64Index([5161], dtype='int64'),
 ('Aarhus GF', 'Belgium'): Int64Index([4941], dtype='int64'),
 ('Aarhus GF', 'Burkina Faso'): Int64Index([6213], dtype='int64'),
 ('Aarhus GF', 'Croatia'): Int64Index([4920], dtype='int64'),
 ('Aarhus GF',
  'Denmark'): Int64Index([ 2318,  2936,  4530,  4546,  7096,  7768,  8082, 11769, 12301,
             12570, 12574, 12580, 12634, 12663, 12700],
            dtype='int64'),
 ('Aarhus GF', 'Iceland'): Int64Index([4855], dtype='int64'),
 ('Aarhus GF', 'Sierra Leone'): Int64Index([6575], dtype='int64'),
 ('Aarhus GF', 'Spain'): Int64Index([4886], dtype='int64'),
 ('Aarhus GF', 'Sweden'): Int64Index([2610, 3490], dtype='int64'),
 ('Aarhus GF', 'Ukraine'): Int64Index([9731], dtype='int64'),
 ('Aberdeen', 'Czech Republic'): Int64Index([4144], dtype='int64'),
 ('Aberdeen', 'England'): Int64Index([4280, 5524, 9943], dtype='int64'),
 ('Aberdeen',
  'Republic of Ireland'): Int64Index([2444, 3574, 4026, 12675], dtype='int64'),
 ('Aberdeen',
  'Scotland'): Int64Index([2978, 3317, 4824, 4949, 7444, 9203, 11232, 12425, 12765], dtype='int64'),
 ('Aberdeen', 'Wales'): Int64Index([12248], dtype='int64'),
 ('Accrington Stanley', 'Australia'): Int64Index([12346], dtype='int64'),
 ('Accrington Stanley', 'Congo'): Int64Index([9782], dtype='int64'),
 ('Accrington Stanley',
  'England'): Int64Index([ 2227,  3827,  4031,  4295,  5675,  6433,  6493,  6554,  8074,
              8508,  8518,  8928,  9515,  9940, 10059, 10141, 10349, 10424,
             10474, 10928, 11020],
            dtype='int64'),
 ('Accrington Stanley',
  'Northern Ireland'): Int64Index([2600, 7891, 12456], dtype='int64'),
 ('Accrington Stanley',
  'Republic of Ireland'): Int64Index([5336], dtype='int64'),
 ('Accrington Stanley',
  'Trinidad & Tobago'): Int64Index([12422], dtype='int64'),
 ('Adelaide United',
  'Australia'): Int64Index([ 3354,  3942,  4130,  4668,  6908,  7090,  7252,  7706,  8316,
              9212,  9623,  9980, 10220, 10458, 12055, 12409, 12485, 12628,
             12703],
            dtype='int64'),
 ('Adelaide United', 'Burundi'): Int64Index([12613], dtype='int64'),
 ('Adelaide United', 'Denmark'): Int64Index([2460, 4451], dtype='int64'),
 ('Adelaide United', 'Germany'): Int64Index([1533], dtype='int64'),
 ('Adelaide United', 'Senegal'): Int64Index([2387], dtype='int64'),
 ('Ajax', 'Argentina'): Int64Index([300], dtype='int64'),
 ('Ajax', 'Austria'): Int64Index([1335], dtype='int64'),
 ('Ajax', 'Brazil'): Int64Index([352], dtype='int64'),
 ('Ajax', 'Colombia'): Int64Index([3111], dtype='int64'),
 ('Ajax', 'Denmark'): Int64Index([737], dtype='int64'),
 ('Ajax', 'Morocco'): Int64Index([152], dtype='int64'),
 ('Ajax',
  'Netherlands'): Int64Index([188, 234, 319, 3769, 4847, 4897, 5010], dtype='int64'),
 ('Akhisar Belediyespor',
  'Bosnia Herzegovina'): Int64Index([2699], dtype='int64'),
 ('Akhisar Belediyespor', 'Portugal'): Int64Index([722, 796], dtype='int64'),
 ('Akhisar Belediyespor', 'Serbia'): Int64Index([1781], dtype='int64'),
 ('Akhisar Belediyespor',
  'Turkey'): Int64Index([2049, 2096, 2594, 2617, 4929, 5376, 5589, 6870, 7081, 8801], dtype='int64'),
 ('Al Ahli', 'Brazil'): Int64Index([419], dtype='int64'),
 ('Al Ahli', 'Egypt'): Int64Index([2521], dtype='int64'),
 ('Al Ahli',
  'Saudi Arabia'): Int64Index([ 1617,  1815,  2256,  2519,  3614,  4048,  6163,  6794,  9114,
              9636,  9922, 11292, 11330, 11380, 11724, 11728, 11730, 11839,
             12230],
            dtype='int64'),
 ('Al Ahli', 'Spain'): Int64Index([524], dtype='int64'),
 ('Al Batin',
  'Brazil'): Int64Index([1540, 1959, 2525, 3812, 4591], dtype='int64'),
 ('Al Batin', 'Colombia'): Int64Index([4771], dtype='int64'),
 ('Al Batin',
  'Saudi Arabia'): Int64Index([ 7178,  7220,  8091,  8146,  8288,  9275,  9606, 10196, 10688,
             11035, 11042, 11170, 11659, 12106, 12135, 12198, 12324, 12392,
             12427, 12749, 12787, 12788],
            dtype='int64'),
 ('Al Faisaly', 'Brazil'): Int64Index([2021], dtype='int64'),
 ('Al Faisaly', 'Colombia'): Int64Index([2514], dtype='int64'),
 ('Al Faisaly', 'Croatia'): Int64Index([2693], dtype='int64'),
 ('Al Faisaly', 'Nigeria'): Int64Index([2644], dtype='int64'),
 ('Al Faisaly',
  'Saudi Arabia'): Int64Index([ 3217,  4859,  4867,  5059,  5715,  6144,  6347,  7322,  7855,
              8061,  9207,  9329, 10389, 10880, 10944, 11011, 11012, 11172,
             11403, 11554, 11696, 11739],
            dtype='int64'),
 ('Al Faisaly', 'Trinidad & Tobago'): Int64Index([2522], dtype='int64'),
 ('Al Fateh', 'Algeria'): Int64Index([4877, 8279], dtype='int64'),
 ('Al Fateh', 'Brazil'): Int64Index([3437], dtype='int64'),
 ('Al Fateh', 'DR Congo'): Int64Index([4198], dtype='int64'),
 ('Al Fateh', 'Guinea'): Int64Index([7840], dtype='int64'),
 ('Al Fateh',
  'Saudi Arabia'): Int64Index([ 5186,  6452,  6534,  6665,  6907,  7471,  8652,  8874,  9086,
              9819,  9960, 10312, 11252, 11519, 12064, 12066, 12366, 12371,
             12568, 12676],
            dtype='int64'),
 ('Al Fateh', 'Ukraine'): Int64Index([2376], dtype='int64'),
 ('Al Fateh', 'Uruguay'): Int64Index([1374], dtype='int64'),
 ('Al Fayha', 'Argentina'): Int64Index([1252], dtype='int64'),
 ('Al Fayha', 'Brazil'): Int64Index([3191], dtype='int64'),
 ('Al Fayha', 'Cape Verde'): Int64Index([1822], dtype='int64'),
 ('Al Fayha', 'Colombia'): Int64Index([1850], dtype='int64'),
 ('Al Fayha', 'Greece'): Int64Index([1760], dtype='int64'),
 ('Al Fayha',
  'Saudi Arabia'): Int64Index([ 4563,  4919,  5253,  6574,  6775,  6953,  7091,  7196,  7568,
              7642,  7798,  8129,  8771, 10323, 10887, 11245, 11312, 11446,
             11693, 11933],
            dtype='int64'),
 ('Al Hazem', 'Algeria'): Int64Index([3045], dtype='int64'),
 ('Al Hazem', 'Bolivia'): Int64Index([6016], dtype='int64'),
 ('Al Hazem', 'Brazil'): Int64Index([3627], dtype='int64'),
 ('Al Hazem', 'Colombia'): Int64Index([2396], dtype='int64'),
 ('Al Hazem', 'Ecuador'): Int64Index([4174], dtype='int64'),
 ('Al Hazem',
  'Saudi Arabia'): Int64Index([ 6931,  7118,  7615,  8711,  8846,  8864,  8869,  8959,  9105,
              9262,  9437,  9793, 10079, 10580, 10927, 11019, 11321, 11597,
             11632, 11745, 12058],
            dtype='int64'),
 ('Al Hazem', 'Sudan'): Int64Index([9448], dtype='int64'),
 ('Al Hilal', 'Brazil'): Int64Index([653], dtype='int64'),
 ('Al Hilal', 'France'): Int64Index([281], dtype='int64'),
 ('Al Hilal', 'Oman'): Int64Index([1479], dtype='int64'),
 ('Al Hilal', 'Peru'): Int64Index([505], dtype='int64'),
 ('Al Hilal',
  'Saudi Arabia'): Int64Index([ 1269,  1778,  1915,  2758,  3234,  4180,  4489,  4658,  5409,
              7735,  9081,  9436,  9451, 10328, 11340, 11475],
            dtype='int64'),
 ('Al Hilal', 'Syria'): Int64Index([1061], dtype='int64'),
 ('Al Hilal', 'Venezuela'): Int64Index([1316], dtype='int64'),
 ('Al Ittihad', 'Chile'): Int64Index([682], dtype='int64'),
 ('Al Ittihad',
  'Saudi Arabia'): Int64Index([ 2358,  2369,  2445,  2707,  2782,  2884,  3831,  4338,  5219,
              6299,  6379,  6620,  7436,  7783,  7877,  9517, 10412, 10469,
             10486, 10885, 11919],
            dtype='int64'),
 ('Al Nassr', 'Australia'): Int64Index([948], dtype='int64'),
 ('Al Nassr', 'Brazil'): Int64Index([177, 469], dtype='int64'),
 ('Al Nassr', 'Morocco'): Int64Index([1067], dtype='int64'),
 ('Al Nassr',
  'Saudi Arabia'): Int64Index([ 1800,  1818,  2334,  2981,  3839,  3850,  4047,  6387,  6998,
              7276,  7511,  9979, 10414, 10423, 11299, 11761, 12180, 12544,
             12713],
            dtype='int64'),
 ('Al Qadisiyah', 'Australia'): Int64Index([6598], dtype='int64'),
 ('Al Qadisiyah', 'Brazil'): Int64Index([2972], dtype='int64'),
 ('Al Qadisiyah', 'Cameroon'): Int64Index([3493], dtype='int64'),
 ('Al Qadisiyah', 'Ivory Coast'): Int64Index([5492], dtype='int64'),
 ('Al Qadisiyah',
  'Saudi Arabia'): Int64Index([ 3894,  4586,  5327,  5601,  5817,  5829,  5880,  7095,  7438,
              7527,  7774,  8917, 10110, 11088, 11207, 11324, 11331, 11334,
             11416, 11741, 11762, 12004],
            dtype='int64'),
 ('Al Raed', 'Algeria'): Int64Index([2157, 4152], dtype='int64'),
 ('Al Raed', 'Egypt'): Int64Index([5511], dtype='int64'),
 ('Al Raed', 'Morocco'): Int64Index([2224], dtype='int64'),
 ('Al Raed',
  'Saudi Arabia'): Int64Index([ 5195,  6685,  8040,  8174,  8224,  8310,  8591,  8610,  8744,
              9087,  9353,  9488,  9846, 10378, 10593, 11191, 12025, 12159,
             12418, 12420, 12807],
            dtype='int64'),
 ('Al Shabab', 'Brazil'): Int64Index([4181], dtype='int64'),
 ('Al Shabab',
  'Saudi Arabia'): Int64Index([ 1898,  3138,  4307,  6207,  6285,  6399,  6434,  7751,  8292,
              8443,  8900,  9511,  9575,  9985, 10475, 10600, 10803, 11578,
             11714, 11784, 11785, 12584],
            dtype='int64'),
 ('Al Shabab', 'Tunisia'): Int64Index([2464], dtype='int64'),
 ('Al Taawoun', 'Brazil'): Int64Index([975, 3703], dtype='int64'),
 ('Al Taawoun', 'Burundi'): Int64Index([5792], dtype='int64'),
 ('Al Taawoun', 'Portugal'): Int64Index([3724], dtype='int64'),
 ('Al Taawoun',
  'Saudi Arabia'): Int64Index([ 5197,  5418,  6366,  6744,  6789,  6888,  7992,  8140,  8877,
              9268,  9430,  9643,  9894, 10018, 10938, 11136, 12343, 12367,
             12512, 12525, 12770],
            dtype='int64'),
 ('Al Wehda', 'Brazil'): Int64Index([1115, 1211], dtype='int64'),
 ('Al Wehda', 'Egypt'): Int64Index([4235], dtype='int64'),
 ('Al Wehda', 'Eritrea'): Int64Index([7620], dtype='int64'),
 ('Al Wehda',
  'Saudi Arabia'): Int64Index([ 1402,  1931,  4935,  5359,  6103,  7060,  7394,  8887,  9073,
              9523,  9704, 10130, 10452, 10654, 11242, 11253, 11545, 11758,
             11894],
            dtype='int64'),
 ('Al Wehda', 'Venezuela'): Int64Index([857], dtype='int64'),
 ('Alanyaspor', 'Argentina'): Int64Index([1196], dtype='int64'),
 ('Alanyaspor', 'Cameroon'): Int64Index([2119], dtype='int64'),
 ('Alanyaspor', 'DR Congo'): Int64Index([2019], dtype='int64'),
 ('Alanyaspor', 'Netherlands'): Int64Index([4542], dtype='int64'),
 ('Alanyaspor',
  'Turkey'): Int64Index([ 1794,  2366,  2418,  2765,  3185,  3388,  5156,  9179, 10845,
             11054, 11086, 11353, 11619],
            dtype='int64'),
 ('Albacete BP', 'Brazil'): Int64Index([7778], dtype='int64'),

In [36]:
grouped_df = df.groupby(['Club']).sum()
display(grouped_df)

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC Köln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Çaykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
Örebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Östersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Śląsk Wrocław,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

In [39]:
grouped_df.loc['Ajax']['Wage']

158000

In [40]:
grouped_df = df.groupby(['Club'])['Wage'].sum()
display(grouped_df)

Club
 SSV Jahn Regensburg      90000
1. FC Heidenheim 1846     76000
1. FC Kaiserslautern      33000
1. FC Köln                92000
1. FC Magdeburg           84000
                          ...
Zagłębie Sosnowiec        27000
Çaykur Rizespor          118000
Örebro SK                 36000
Östersunds FK             39000
Śląsk Wrocław             50000
Name: Wage, Length: 650, dtype: int64

In [54]:
grouped_df = df.groupby(['Position'])['Wage'].sum()
grouped_df.columns = ['Position','Wage']
df1 = pd.DataFrame(grouped_df)
#print(grouped_df)
df1[df1.Wage > 5000000]

              Wage
Position
CAM        5500000
CB         7476000
CM         6194000
GK         8784000
LB         6096000
LM         5440000
RB         5034000
RM         5098000
ST        11873000

In [56]:
s=df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()
print(s)

                     Wage        Age  ShotPower
Nationality
Afghanistan   1250.000000  22.500000  53.750000
Albania       5931.034483  23.689655  54.551724
Algeria      15810.810811  27.027027  56.567568
Andorra       1000.000000  28.000000  58.000000
Angola        7100.000000  24.700000  63.700000
...                   ...        ...        ...
Uzbekistan    9000.000000  29.500000  71.500000
Venezuela     6611.111111  23.638889  57.222222
Wales         9529.411765  24.754902  48.558824
Zambia        2833.333333  21.833333  66.833333
Zimbabwe      5000.000000  26.555556  62.888889

[156 rows x 3 columns]

In [57]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

In [58]:
df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

            Name         Club    Wage  Age  ShotPower
291      Mariano  Real Madrid  140000   24         85
6279  L. Quezada   Córdoba CF    2000   22         66

In [61]:
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [64]:
df.groupby(['Nationality'])[['Club','Name']].nunique()

             Club  Name
Nationality
Afghanistan     4     4
Albania        26    29
Algeria        33    37
Andorra         1     1
Angola          9    10
...           ...   ...
Uzbekistan      2     2
Venezuela      34    36
Wales          56   101
Zambia          5     6
Zimbabwe        8     9

[156 rows x 2 columns]

In [65]:
df.groupby(['Club'])['Name'].count()

Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC Köln               10
1. FC Magdeburg          21
                         ..
Zagłębie Sosnowiec       25
Çaykur Rizespor          22
Örebro SK                26
Östersunds FK            20
Śląsk Wrocław            24
Name: Name, Length: 650, dtype: int64

In [66]:
df.groupby(['Club'])['Dribbling'].median()

Club
 SSV Jahn Regensburg     57.5
1. FC Heidenheim 1846    59.5
1. FC Kaiserslautern     54.0
1. FC Köln               60.5
1. FC Magdeburg          53.0
                         ...
Zagłębie Sosnowiec       58.0
Çaykur Rizespor          62.0
Örebro SK                55.0
Östersunds FK            61.5
Śląsk Wrocław            54.5
Name: Dribbling, Length: 650, dtype: float64

In [67]:
df.groupby(['Club'])['Strength'].max()

Club
 SSV Jahn Regensburg     92
1. FC Heidenheim 1846    86
1. FC Kaiserslautern     85
1. FC Köln               76
1. FC Magdeburg          86
                         ..
Zagłębie Sosnowiec       84
Çaykur Rizespor          81
Örebro SK                85
Östersunds FK            88
Śląsk Wrocław            85
Name: Strength, Length: 650, dtype: int64

In [87]:
s=pd.DataFrame(df.groupby(['Club'])['Wage'].agg(['mean','median']))
len(s[s['mean'] == s['median']])
s[s['mean'] == s['median']].sort_values(['mean','median'],ascending=False)

                           mean  median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
1. FC Magdeburg          4000.0    4000
CD Feirense              4000.0    4000
Sunderland               4000.0    4000
Northampton Town         2500.0    2500
AJ Auxerre               2000.0    2000
Benevento                2000.0    2000
CD Tondela               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Jeonnam Dragons          2000.0    2000
Kashiwa Reysol           2000.0    2000
Philadelphia Union       2000.0    2000
Pohang Steelers          2000.0    2000
Stade Brestois 29        2000.0    2000
FC Metz                  1500.0    1500
AEK Athens               1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Dynamo Kyiv              1000.0    1000
Envigado FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
Jaguares de Córdoba      1000.0    1000
Kaizer Chiefs            1000.0    1000
Limerick FC              1000.0    1000
Lokomotiv Moscow         1000.0    1000
Olympiacos CFP           1000.0    1000
Orlando Pirates          1000.0    1000
PAOK                     1000.0    1000
PFC CSKA Moscow          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
SK Slavia Praha          1000.0    1000
Shakhtar Donetsk         1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Viktoria Plzeň           1000.0    1000

In [102]:
df.groupby(['Club'])['Wage'].sum()['Chelsea']

2035000

In [108]:
df[(df.Nationality == 'Argentina')&(df.Age == 30)].sort_values('Wage',ascending=False)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
23,23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST,70,93,...,83,90,30,20,12,13,15,6,11,14
38,38,G. Higuaín,30,Argentina,Milan,57000000,245000,LS,68,92,...,70,86,35,22,18,5,12,7,5,10
89,89,N. Otamendi,30,Argentina,Manchester City,28500000,170000,CB,52,54,...,45,80,83,85,84,12,5,8,11,12
140,140,A. Gómez,30,Argentina,Atalanta,30000000,53000,LS,82,76,...,72,84,50,30,34,8,11,12,9,6
1286,1321,C. Yacob,30,Argentina,Nottingham Forest,3000000,35000,CDM,34,55,...,66,79,73,75,71,6,6,12,9,8
133,133,E. Banega,30,Argentina,Sevilla FC,29000000,31000,CDM,80,66,...,78,80,75,69,64,13,8,7,7,10
522,526,L. Pratto,30,Argentina,River Plate,10000000,28000,LS,68,76,...,78,71,48,36,50,8,15,6,15,15
218,218,N. Gaitán,30,Argentina,Dalian YiFang FC,21000000,22000,CAM,80,71,...,71,80,35,42,43,8,11,9,7,5
833,844,D. González,30,Argentina,Club Tijuana,7000000,22000,LCM,68,64,...,57,76,65,71,69,16,13,7,12,14
1468,1521,G. Sara,30,Argentina,Club Atlético Lanús,2000000,10000,GK,14,15,...,30,36,15,12,16,72,70,73,69,74
1337,1376,J. Forlín,30,Argentina,Real Oviedo,3000000,9000,CB,59,36,...,51,66,72,71,76,10,6,7,13,8
1501,1557,C. Menéndez,30,Argentina,Tiburones Rojos de Veracruz,3000000,8000,ST,50,72,...,72,74,32,21,30,14,12,9,13,7
2113,2216,F. Mattia,30,Argentina,San Martín de San Juan,775000,7000,RCB,30,24,...,38,49,73,72,70,14,8,9,12,14
2660,2781,A. Niz,30,Argentina,Club Atlético Tigre,675000,6000,CB,58,39,...,41,62,62,71,68,7,11,14,14,13
3227,3360,J. Amoroso,30,Argentina,Newell's Old Boys,725000,6000,RM,55,60,...,44,65,33,30,35,13,8,16,11,14
1879,1970,M. Cahais,30,Argentina,San Martin de Tucumán,775000,6000,CB,48,34,...,55,64,61,72,70,9,12,12,6,16
2609,2727,G. Díaz,30,Argentina,Vélez Sarsfield,650000,6000,RB,72,44,...,50,56,64,62,59,7,8,8,7,8
4116,4264,M. Sánchez,30,Argentina,San Martín de San Juan,475000,4000,CDM,49,47,...,50,65,62,63,64,10,10,6,16,16
4103,4250,G. Milan,30,Argentina,Tiburones Rojos de Veracruz,475000,3000,CB,26,23,...,40,55,60,66,62,15,12,15,14,7
5534,5697,J. Ayala,30,Argentina,Rosario Central,350000,3000,GK,11,11,...,19,44,15,7,8,67,66,65,58,68
5927,6094,S. Luna,30,Argentina,Belgrano de Córdoba,325000,3000,RB,75,56,...,53,47,62,55,56,15,15,13,11,8
2258,2370,R. Becerra,30,Argentina,Deportes Iquique,875000,2000,ST,44,74,...,66,54,21,30,22,15,11,15,11,7
4496,4647,F. Ciampichetti,30,Argentina,CD Antofagasta,625000,2000,ST,35,71,...,71,54,42,26,22,6,10,8,9,7
3366,3501,J. Miño,30,Argentina,Deportes Iquique,575000,1000,LDM,55,47,...,54,65,70,72,67,15,16,9,14,10
6893,7072,L. Trejo,30,Argentina,Atlético Huila,270000,1000,CB,28,21,...,31,48,64,65,67,13,9,11,8,8

In [125]:
s=df[(df.Nationality == 'Argentina')&(df.Club == 'FC Barcelona')].groupby(['Club'])[['Strength', 'Balance']].apply(max)
print(s)

              Strength  Balance
Club
FC Barcelona        59       95

In [14]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(
values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [12]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
print(df2)
print(df2.loc['Manchester City']['GK'])

Position                   CAM       CB      CDM      CF      CM       GK  \
Club
 SSV Jahn Regensburg       NaN   5000.0   5000.0     NaN  4000.0   5000.0
1. FC Heidenheim 1846   5000.0   7000.0      NaN     NaN  1000.0   4000.0
1. FC Kaiserslautern       NaN   1000.0   1000.0     NaN     NaN   1000.0
1. FC Köln                 NaN   1000.0  10000.0     NaN  3000.0  25000.0
1. FC Magdeburg            NaN   7000.0      NaN  4000.0     NaN   6000.0
...                        ...      ...      ...     ...     ...      ...
Zagłębie Sosnowiec      2000.0   1000.0   1000.0     NaN     NaN   1000.0
Çaykur Rizespor        11000.0  11000.0  13000.0     NaN     NaN   3000.0
Örebro SK                  NaN   2000.0      NaN     NaN  1000.0   2000.0
Östersunds FK           1000.0   1000.0      NaN  3000.0  8000.0   1000.0
Śląsk Wrocław              NaN   1000.0   3000.0     NaN  1000.0   2000.0

Position               LAM      LB     LCB     LCM  ...      RB     RCB  \
Club                                                ...
 SSV Jahn Regensburg   NaN  6000.0     NaN     NaN  ...  4000.0  8000.0
1. FC Heidenheim 1846  NaN  6000.0  6000.0     NaN  ...  6000.0  3000.0
1. FC Kaiserslautern   NaN  2000.0  2000.0     NaN  ...  2000.0     NaN
1. FC Köln             NaN     NaN     NaN     NaN  ...  5000.0     NaN
1. FC Magdeburg        NaN  2000.0  5000.0  4000.0  ...     NaN  3000.0
...                    ...     ...     ...     ...  ...     ...     ...
Zagłębie Sosnowiec     NaN  1000.0  1000.0     NaN  ...  1000.0  1000.0
Çaykur Rizespor        NaN  7000.0  4000.0     NaN  ...  6000.0     NaN
Örebro SK              NaN     NaN  2000.0  2000.0  ...     NaN  2000.0
Östersunds FK          NaN  2000.0  3000.0  5000.0  ...  1000.0  1000.0
Śląsk Wrocław          NaN  3000.0  2000.0     NaN  ...  2000.0  4000.0

Position                  RCM      RDM  RF       RM      RS      RW     RWB  \
Club
 SSV Jahn Regensburg      NaN   5000.0 NaN      NaN     NaN     NaN     NaN
1. FC Heidenheim 1846     NaN      NaN NaN   3000.0     NaN     NaN     NaN
1. FC Kaiserslautern      NaN   2000.0 NaN   2000.0  2000.0     NaN     NaN
1. FC Köln                NaN      NaN NaN  18000.0     NaN     NaN     NaN
1. FC Magdeburg        3000.0      NaN NaN   5000.0  8000.0  4000.0     NaN
...                       ...      ...  ..      ...     ...     ...     ...
Zagłębie Sosnowiec        NaN   1000.0 NaN   1000.0     NaN     NaN     NaN
Çaykur Rizespor           NaN  10000.0 NaN  12000.0     NaN     NaN     NaN
Örebro SK              2000.0      NaN NaN      NaN     NaN  2000.0  1000.0
Östersunds FK             NaN      NaN NaN   2000.0     NaN  1000.0     NaN
Śląsk Wrocław             NaN   3000.0 NaN   3000.0  4000.0     NaN     NaN

Position                   ST
Club
 SSV Jahn Regensburg   3000.0
1. FC Heidenheim 1846  4000.0
1. FC Kaiserslautern   1000.0
1. FC Köln                NaN
1. FC Magdeburg        1000.0
...                       ...
Zagłębie Sosnowiec     2000.0
Çaykur Rizespor        2000.0
Örebro SK              2000.0
Östersunds FK          1000.0
Śląsk Wrocław          1000.0

[650 rows x 27 columns]
125000.0

In [15]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

In [18]:
pivot.loc['Argentina']['Name']['Manchester United']

2

In [37]:
df3= df.pivot_table(values=['Name'],index=['Club'],columns=['Position'],aggfunc='count',margins=True,fill_value=0)
print(df3)
mean_GK = df3.loc['All']['Name']['GK']
print(len(df3.index))
print(mean_GK)

                      Name                                                 \
Position               CAM    CB  CDM  CF    CM    GK LAM    LB  LCB  LCM
Club
 SSV Jahn Regensburg     0     5    1   0     2     3   0     2    0    0
1. FC Heidenheim 1846    1     3    0   0     1     2   0     2    1    0
1. FC Kaiserslautern     0     3    3   0     0     3   0     2    1    0
1. FC Köln               0     1    1   0     2     3   0     0    0    0
1. FC Magdeburg          0     4    0   1     0     3   0     1    1    1
...                    ...   ...  ...  ..   ...   ...  ..   ...  ...  ...
Çaykur Rizespor          1     2    5   0     0     3   0     2    1    0
Örebro SK                0     4    0   0     1     3   0     0    1    1
Östersunds FK            1     1    0   1     3     3   0     2    1    1
Śląsk Wrocław            0     1    3   0     1     3   0     2    1    0
All                    633  1403  691  51  1067  1641   6  1002  409  233

                       ...
Position               ...  RCB  RCM  RDM RF   RM   RS   RW RWB    ST    All
Club                   ...
 SSV Jahn Regensburg   ...    1    0    1  0    0    0    0   0     3     24
1. FC Heidenheim 1846  ...    1    0    0  0    3    0    0   0     2     20
1. FC Kaiserslautern   ...    0    0    1  0    2    1    0   0     1     23
1. FC Köln             ...    0    0    0  0    1    0    0   0     0     10
1. FC Magdeburg        ...    1    1    0  0    3    1    2   0     1     21
...                    ...  ...  ...  ... ..  ...  ...  ...  ..   ...    ...
Çaykur Rizespor        ...    0    0    1  0    1    0    0   0     1     22
Örebro SK              ...    1    1    0  0    0    0    2   2     5     26
Östersunds FK          ...    1    0    0  0    1    0    1   0     1     20
Śląsk Wrocław          ...    1    0    1  0    2    1    0   0     2     24
All                    ...  418  240  138  6  766  114  237  70  1512  12897

[651 rows x 28 columns]
651
1641

In [43]:
df4=df.pivot_table(values=['Wage'],
index=['Club'],
columns=['Nationality'],
aggfunc='sum',
fill_value=0)
a=df4.loc['AS Monaco']['Wage']['Russia']
print(df4)
print(a)

                             Wage                                 \
Nationality           Afghanistan Albania Algeria Andorra Angola
Club
 SSV Jahn Regensburg            0       0       0       0      0
1. FC Heidenheim 1846           0       0       0       0      0
1. FC Kaiserslautern            0       0       0       0      0
1. FC Köln                      0       0       0       0      0
1. FC Magdeburg                 0       0       0       0      0
...                           ...     ...     ...     ...    ...
Zagłębie Sosnowiec              0       0       0       0   1000
Çaykur Rizespor                 0       0       0       0      0
Örebro SK                       0    1000       0       0      0
Östersunds FK                   0       0       0       0      0
Śląsk Wrocław                   0       0       0       0      0

                                                                             \
Nationality           Antigua & Barbuda Argentina Armenia Australia Austria
Club
 SSV Jahn Regensburg                  0         0       0         0       0
1. FC Heidenheim 1846                 0         0       0         0       0
1. FC Kaiserslautern                  0         0       0         0       0
1. FC Köln                            0         0       0         0   18000
1. FC Magdeburg                       0         0       0         0       0
...                                 ...       ...     ...       ...     ...
Zagłębie Sosnowiec                    0         0       0         0       0
Çaykur Rizespor                       0         0       0         0       0
Örebro SK                             0         0       0         0       0
Östersunds FK                         0         0       0         0       0
Śląsk Wrocław                         0         0       0         0       0

                       ...                                              \
Nationality            ... Turkey Uganda Ukraine United States Uruguay
Club                   ...
 SSV Jahn Regensburg   ...      0      0       0             0       0
1. FC Heidenheim 1846  ...      0      0       0             0       0
1. FC Kaiserslautern   ...   1000      0       0             0       0
1. FC Köln             ...      0      0       0          1000       0
1. FC Magdeburg        ...      0      0       0             0       0
...                    ...    ...    ...     ...           ...     ...
Zagłębie Sosnowiec     ...      0      0       0             0       0
Çaykur Rizespor        ...  47000      0       0             0       0
Örebro SK              ...      0      0       0             0       0
Östersunds FK          ...      0      0       0             0       0
Śląsk Wrocław          ...      0      0       0             0       0


Nationality           Uzbekistan Venezuela Wales Zambia Zimbabwe
Club
 SSV Jahn Regensburg           0         0     0      0        0
1. FC Heidenheim 1846          0         0     0      0        0
1. FC Kaiserslautern           0         0     0      0        0
1. FC Köln                     0         0     0      0        0
1. FC Magdeburg                0         0     0      0        0
...                          ...       ...   ...    ...      ...
Zagłębie Sosnowiec             0         0     0      0        0
Çaykur Rizespor                0         0     0      0        0
Örebro SK                      0         0     0      0        0
Östersunds FK                  0         0     0      0        0
Śląsk Wrocław                  0         0     0      0        0

[650 rows x 156 columns]
61000

In [99]:
df5=df.pivot_table(values=['SprintSpeed'],
index=['Position'],
columns=['Club'],
aggfunc='mean',
fill_value=0)
#margins=True)
type(df5)
#rint(df5)
#df5[df5.Position == 'ST']
pivot = df.loc[df['Position'].isin(['ST'])].pivot_table(['SprintSpeed'], index=['Club'], aggfunc='mean', fill_value=0)
print(pivot.loc['Sydney FC'])
print(pivot.loc['Melbourne Victory'])
print(pivot.loc['Vitória'])
print(pivot.loc['Toronto FC'])
print(pivot.loc['Arsenal'])
print(pivot.loc['CD Lugo'])

SprintSpeed    88.0
Name: Sydney FC, dtype: float64
SprintSpeed    81.0
Name: Melbourne Victory, dtype: float64
SprintSpeed    91.0
Name: Vitória, dtype: float64
SprintSpeed    81.75
Name: Toronto FC, dtype: float64
SprintSpeed    83.0
Name: Arsenal, dtype: float64
SprintSpeed    87.0
Name: CD Lugo, dtype: float64