In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: '../input'

In [5]:
data = pd.read_csv('C:\\Users\\user\\Documents\\DataScience\\PYTHON\\data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [6]:
len(data)

1890

# Предобработка датасета

In [7]:
data['profit']=data['revenue']-data['budget']
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [ ]:
sample = data.query('imdb_id in ["tt1345836","tt0413300","tt2395427","tt1032751","tt1298650"]')
sample[sample['budget'] == sample['budget'].max()]

answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
sample1 = data.query('imdb_id in ["tt0167260","tt0279111","tt0360717","tt0213149","tt0346491"]')
sample1[sample1['runtime'] == sample1['runtime'].max()]

answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [8]:
sample3 = data.query('imdb_id in ["tt0299172","tt0283426","tt1449283","tt0121164","tt0443536"]')
sample3[sample3['runtime'] == sample3['runtime'].min()]

answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [9]:
mean_runtime = data.runtime.mean()
mean_runtime

answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [10]:
median_runtime = data.runtime.median(axis = 0)
median_runtime

answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [13]:
sample6 = data.query('imdb_id in ["tt0848228","tt2293640","tt2488496","tt2820852","tt0499549"]')
print(sample6[sample6['profit'] == sample6['profit'].max()])

answer_ls.append(5)

       imdb_id  popularity     budget     revenue original_title  \
239  tt0499549    9.432768  237000000  2781505847         Avatar

                                                  cast       director  \
239  Sam Worthington|Zoe Saldana|Sigourney Weaver|S...  James Cameron

                         tagline  \
239  Enter the World of Pandora.

                                              overview  runtime  \
239  In the 22nd century, a paraplegic Marine is di...      162

                                       genres  \
239  Action|Adventure|Fantasy|Science Fiction

                                  production_companies release_date  \
239  Ingenious Film Partners|Twentieth Century Fox ...   12/10/2009

     vote_count  vote_average  release_year      profit
239        8458           7.1          2009  2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [16]:
sample7 = data.query('imdb_id in ["tt0134983","tt1032751","tt0424095","tt0180052","tt1210819"]')
print(sample7[sample7['profit'] == sample7['profit'].min()])

answer_ls.append(2)

       imdb_id  popularity     budget   revenue     original_title  \
491  tt1032751     0.25054  425000000  11087569  The Warrior's Way

                                                  cast    director  \
491  Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...  Sngmoo Lee

                     tagline  \
491  Assassin. Hero. Legend.

                                              overview  runtime  \
491  An Asian assassin (Dong-gun Jang) is forced to...      100

                                        genres      production_companies  \
491  Adventure|Fantasy|Action|Western|Thriller  Boram Entertainment Inc.

    release_date  vote_count  vote_average  release_year     profit
491    12/2/2010          74           6.4          2010 -413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [17]:
print(len(data[data['profit'] > 0].index))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [18]:
sample9 = data.query('imdb_id in ["tt0795421","tt0468569","tt0441773","tt0371746","tt0479952"]')
sample9[sample9['profit'] ==sample9['profit'].max()]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [19]:
sample10=data[(data['release_year'] >= 2012)&(data['release_year'] <= 2014)]
print(sample10[sample10['profit']==sample10['profit'].min()])

answer_ls.append(1)

        imdb_id  popularity     budget   revenue   original_title  \
1246  tt1210819     1.21451  255000000  89289910  The Lone Ranger

                                                   cast        director  \
1246  Johnny Depp|Armie Hammer|William Fichtner|Hele...  Gore Verbinski

                      tagline  \
1246  Never Take Off the Mask

                                               overview  runtime  \
1246  The Texas Rangers chase down a gang of outlaws...      149

                        genres  \
1246  Action|Adventure|Western

                                   production_companies release_date  \
1246  Walt Disney Pictures|Jerry Bruckheimer Films|I...     7/3/2013

      vote_count  vote_average  release_year     profit
1246        1607           6.0          2013 -165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [20]:
print(pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts().sort_values(ascending=False).head(1))

answer_ls.append(3)

Drama    782
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [21]:
profits=pd.DataFrame(data[data['profit'] > 0])
print(pd.DataFrame(profits.genres.str.split('|').tolist()).stack().value_counts().sort_values(ascending=False).head(1))

answer_ls.append(3)

Drama    560
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [22]:
print(pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts().sort_values(ascending=False).head(5))

answer_ls.append(3)

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Robert Rodriguez     11
Steven Spielberg     10
dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [23]:
profits=pd.DataFrame(data[data['profit'] > 0])
pd.DataFrame(profits.director.str.split('|').tolist()).stack().value_counts().sort_values(ascending=False).head(5)

answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [24]:
df = data.groupby(['director'])['profit'].sum()
display(df.sort_values(ascending=False))

answer_ls.append(5)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [25]:
actors_list = ['Emma Watson','Johnny Depp','Michelle Rodriguez','Orlando Bloom','Rupert Grint']
actors_profit_df = pd.DataFrame({'profit':0.}, index = actors_list)
for name in actors_list:
    actors_profit_df.loc[name] = data[data.cast.str.contains(name)].profit.sum()
print(actors_profit_df)

answer_ls.append(1)

                          profit
Emma Watson         6.666246e+09
Johnny Depp         4.776417e+09
Michelle Rodriguez  4.608031e+09
Orlando Bloom       5.148578e+09
Rupert Grint        6.408638e+09

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [26]:
actors_list = ['Nicolas Cage','Danny Huston','Kirsten Dunst','Jim Sturgess','Sami Gayle']
actors_profit_df = pd.DataFrame({'profit':0.}, index = actors_list)
data_new=data[data['release_year']==2012]
for name in actors_list:
    actors_profit_df.loc[name] = data_new[data_new.cast.str.contains(name)].profit.sum()
print(actors_profit_df)

answer_ls.append(3)

                   profit
Nicolas Cage  -32893443.0
Danny Huston  -32893443.0
Kirsten Dunst -68109207.0
Jim Sturgess  -23410657.0
Sami Gayle    -32893443.0

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [27]:
data_new=data[data['budget']>data['budget'].mean()]
print(pd.DataFrame(data_new.cast.str.split('|').tolist()).stack().value_counts())

answer_ls.append(3)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Eddie Murphy             15
Tom Cruise               15
                         ..
Hayden Panettiere         1
Kelsey Grammer            1
Juno Temple               1
Jack O'Connell            1
Svetlana Khodchenkova     1
Length: 1508, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [28]:
data_new=data_new[data_new.cast.str.contains("Nicolas Cage")]
print(pd.DataFrame(data_new.genres.str.split('|').tolist()).stack().value_counts())

answer_ls.append(2)

Action             9
Thriller           7
Fantasy            5
Drama              4
Adventure          4
Comedy             3
History            2
Family             2
Animation          2
Science Fiction    2
Mystery            2
Crime              1
Horror             1
War                1
Romance            1
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [29]:
print(pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts())

answer_ls.append(1)

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Pierce/Williams Entertainment               1
Thunder Road Productions                    1
Reaper Productions                          1
Camelot Pictures                            1
Onda Entertainment                          1
Length: 1772, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [10]:
data_new=data[data['release_year']==2015]
print(pd.DataFrame(data_new.production_companies.str.split('|').tolist()).stack().value_counts())

answer_ls.append(4)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Silver Pictures                            1
The Weinstein Company                      1
Alcon Entertainment                        1
Orange Studios                             1
Marvel Entertainment                       1
Length: 246, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [11]:
data_new = data[data.genres.str.contains('Comedy')]
print(pd.DataFrame(data_new.production_companies.str.split('|').tolist()).stack().value_counts())

answer_ls.append(2)

Universal Pictures                                           75
Columbia Pictures                                            62
Warner Bros.                                                 46
Walt Disney Pictures                                         45
Twentieth Century Fox Film Corporation                       44
                                                             ..
Premiere Picture                                              1
Epidemic Pictures                                             1
Linson Entertainment                                          1
Global Entertainment Productions GmbH & Company Medien KG     1
Kennedy Miller Productions                                    1
Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [12]:
data['profit']=data['revenue']-data['budget']
data_new=data[data['release_year']==2012]
companies_list = ['Universal Pictures','Warner Bros','Columbia Pictures','Paramount Pictures','Lucasfilm']
companies_profit_df = pd.DataFrame({'profit':0.}, index = companies_list)
for name in companies_list:
    companies_profit_df.loc[name] = data_new[data_new.production_companies.str.contains(name)].profit.sum()
print(companies_profit_df)
#вообще я это задание решил верно , но из-за невнимательности нажал неправильный ответ
answer_ls.append(3)

                          profit
Universal Pictures  1.981012e+09
Warner Bros         1.258020e+09
Columbia Pictures   2.501407e+09
Paramount Pictures  4.107267e+08
Lucasfilm          -7.634623e+06

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [16]:
data['profit']=data['revenue']-data['budget']
df_paramount=data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit',ascending=True)
print(df_paramount.head(5))

answer_ls.append(1)

        imdb_id  popularity     budget   revenue        original_title  \
926   tt0267626    0.722330  100000000  35168966  K-19: The Widowmaker
1124  tt0300556    1.047214   80000000  19480739              Timeline
1723  tt0435705    1.068126   70000000  18211013                  Next
1624  tt0375173    0.898601   60000000  13395939                 Alfie
1632  tt0315297    0.767870   50000000  25195000               Twisted

                                                   cast         director  \
926   Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...  Kathryn Bigelow
1124  Paul Walker|Frances O'Connor|Gerard Butler|Bil...   Richard Donner
1723  Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...     Lee Tamahori
1624  Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...    Charles Shyer
1632  Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...   Philip Kaufman

                                                tagline  \
926                            Fate has found its hero.
1124  They had to travel into the past to save the f...
1723        If you can see the future, you can save it.
1624   Meet a man who never met a woman he didn't love.
1632                           Every murder has a mark.

                                               overview  runtime  \
926   When Russia's first nuclear submarine malfunct...      138
1124  A group of archaeological students become trap...      116
1723  Las Vegas showroom magician Cris Johnson has a...       96
1624  In Manhattan, the British limousine driver Alf...      103
1632  Recently promoted and transferred to the homic...       97

                                     genres  \
926                  Thriller|Drama|History
1124       Action|Adventure|Science Fiction
1723        Action|Science Fiction|Thriller
1624                                 Comedy
1632  Action|Adventure|Crime|Drama|Thriller

                                   production_companies release_date  \
926   Paramount Pictures|Intermedia Films|National G...    7/19/2002
1124  Paramount Pictures|Donners' Company|Mutual Fil...   11/26/2003
1723  Paramount Pictures|Virtual Studios|Revolution ...    4/24/2007
1624             Paramount Pictures|Patalex Productions   10/22/2004
1632  Paramount Pictures|Kopelson Entertainment|Harl...    2/27/2004

      vote_count  vote_average  release_year    profit
926          146           6.0          2002 -64831034
1124         176           5.1          2003 -60519261
1723         499           5.9          2007 -51788987
1624         140           5.4          2004 -46604061
1632          67           5.7          2004 -24805000

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [17]:
year_list = [2014,2008,2012,2002,2015]
years_profit_df = pd.DataFrame({'profit':0.}, index = year_list)
for year in year_list:
    years_profit_df.loc[year] = data[data['release_year']==year].profit.sum()
print(years_profit_df.sort_values(by='profit',ascending=False))

answer_ls.append(5)

            profit
2015  1.866857e+10
2014  1.639781e+10
2012  1.607700e+10
2008  1.166388e+10
2002  9.002361e+09

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [18]:
data_new=pd.DataFrame(data[data.production_companies.str.contains('Warner Bros')])
year_list = [2014,2008,2012,2010,2015]
years_profit_df = pd.DataFrame({'profit':0.}, index = year_list)
for year in year_list:
    years_profit_df.loc[year] = data_new[data_new['release_year']==year].profit.sum()
print(years_profit_df.sort_values(by='profit',ascending=False))

answer_ls.append(1)

            profit
2014  2.295465e+09
2008  2.134595e+09
2010  1.974713e+09
2012  1.258020e+09
2015  8.703683e+08

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [19]:
data['release_month']= [release_date.split('/')[0] for release_date in data.release_date]
from collections import Counter
c = Counter()
for year in data.release_month:
    c[year] += 1
print(c.most_common())

answer_ls.append(4)

[('9', 227), ('12', 191), ('10', 186), ('8', 161), ('3', 156), ('4', 149), ('6', 147), ('11', 146), ('7', 142), ('5', 140), ('2', 135), ('1', 110)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [20]:
c = Counter()
for year in data.release_month:
    c[year] += 1
summer_movies= c['6']+c['7']+c['8']
print(summer_movies)

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [22]:
director_list=['Steven Soderbergh','Christopher Nolan','Clint Eastwood','Ridley Scott','Peter Jackson']
month_list=['12','1','2']
data_new = data.query('release_month in ["12","1","2"] & director in ["Steven Soderbergh","Christopher Nolan","Clint Eastwood","Ridley Scott","Peter Jackson"]')
c = Counter()
for director in data_new.director:
    c[director] += 1
print(c.most_common())

answer_ls.append(5)

[('Peter Jackson', 7), ('Clint Eastwood', 6), ('Steven Soderbergh', 6), ('Ridley Scott', 3)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [23]:
data['profit']=data['revenue']-data['budget']
data['release_month']= [release_date.split('/')[0] for release_date in data.release_date]
#data
df2 = data.pivot_table(columns = 'release_month', index = 'release_year', values = 'profit', aggfunc = 'sum')
print(df2.idxmax(axis=1).value_counts())

answer_ls.append(2)

6     7
5     4
12    4
7     1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [24]:
data['title_length']=data['original_title'].map(lambda x: len(x))
companies=[]
companies = np.unique(pd.DataFrame(data.production_companies.str.split('|').tolist()).stack())
len(companies)
companies_title = pd.DataFrame({'length':0.}, index = companies)

def mean_length(company):
    length=data[data.production_companies.str.contains(company)]['title_length'].mean()
    return length

for comp in companies:
    companies_title.loc[comp] = mean_length(comp)

print(companies_title[companies_title['length']==companies_title['length'].max()])

answer_ls.append(5)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                         length
Four By Two Productions    83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [25]:
data['title_words'] = data['original_title'].map(lambda x:len(x.split(' ')))
companies=[]
companies = np.unique(pd.DataFrame(data.production_companies.str.split('|').tolist()).stack())
companies_title = pd.DataFrame({'words':0.}, index = companies)

def mean_length(company):
    length=data[data.production_companies.str.contains(company)]['title_words'].mean()
    return length

for comp in companies:
    companies_title.loc[comp] = mean_length(comp)

print(companies_title[companies_title['words']==companies_title['words'].max()])

answer_ls.append(5)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                         words
Four By Two Productions   12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [26]:
words=list(pd.DataFrame(data.original_title.str.split().tolist()).stack())
for word in words:
    words[words.index(word)]=word.lower()

#words=
print(len(np.unique(words)))

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [28]:
top = 1
top_procent = np.percentile(data['vote_average'], (100-top))
display(data[data.vote_average>top_procent].sort_values(by='vote_average',ascending=False)[['original_title','popularity', 'vote_average']])

answer_ls.append(1)

                                     original_title  popularity  vote_average
600                                 The Dark Knight    8.466668           8.1
9                                        Inside Out    6.326804           8.0
34                                             Room    3.557846           8.0
118                                    Interstellar   24.949134           8.0
125                              The Imitation Game    8.110711           8.0
119                         Guardians of the Galaxy   14.311205           7.9
128                                       Gone Girl    6.438727           7.9
138                        The Grand Budapest Hotel    4.930820           7.9
370                                       Inception    9.363643           7.9
873                                     The Pianist    2.364204           7.9
1082  The Lord of the Rings: The Return of the King    7.122455           7.9
1184                        The Wolf of Wall Street    4.877927           7.9
1192                               12 Years a Slave    3.625529           7.9
1801                                        Memento    3.095625           7.9

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [30]:
actor_pairs = [['Johnny Depp', 'Helena Bonham Carter'],['Hugh Jackman', 'Ian McKellen'],['Vin Diesel', 'Paul Walker'],['Adam Sandler', 'Kevin James'],['Daniel Radcliffe', 'Rupert Grint'],]
c = Counter()
artists = []

for pair in actor_pairs:
    pair_str = str(pair[0]+' '+pair[1])
    artists.append(pair_str)
    c[pair_str] = len(data.loc[(data['cast'].str.contains(pair[0])) & (data['cast'].str.contains(pair[1]))])

display(c)  
#это оказалось самым напряжным для меня.
answer_ls.append(5)

Counter({'Johnny Depp Helena Bonham Carter': 6,
         'Hugh Jackman Ian McKellen': 5,
         'Vin Diesel Paul Walker': 5,
         'Adam Sandler Kevin James': 5,
         'Daniel Radcliffe Rupert Grint': 8})

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
directors_list=['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
directors = pd.DataFrame({'profits_':0.}, index = directors_list)
data['profit']=data['revenue']-data['budget']

def profit_count(data,director):
    prof = len(data[(data.director.str.contains(director))&(data['profit'] > 0)].index)
    loss = len(data[(data.director.str.contains(director))&(data['profit'] < 0)].index)
    percent = prof/(prof+loss)
    return percent

for director in directors_list:
    #print(type(comp))
    directors.loc[director] = profit_count(data,director)
    
print(directors)

answer_ls.append(4)

# Submission

In [29]:
len(answer_ls)

18

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []