In [2]:
x(4+(5*60)-17+(65/4))**(1/2)

17.414074767267998

In [6]:
x=100500
6.996+(45*((x/2)**2))+2*x

113628013506.996

In [11]:
1267-20*((5**3/2)**2)

-76858.0

In [13]:
8**5*6

196608

In [14]:
-76858.0/196608

-0.3909200032552083

In [15]:
3**2

9

In [22]:
(((3**3)**2)**2)/((-2)**(-3))

-4251528.0

In [23]:
'hey'+'!'

'hey!'

In [24]:
type(2+3.4)

float

In [26]:
type(4 ** (1/2))

float

In [30]:
'42'/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
 type('I' + 'love' + 'Python')

str

In [32]:
name = input()

sf

In [33]:
name = input()
print ("Сегодня Вас зовут "+name)

Fktrc
Сегодня Вас зовут Fktrc

In [2]:
word = 'Очаровательно'
int(len(word))

13

In [5]:
a = 12
b = 17
c = 25
print(((a+b+c)**(1/3)))

3.7797631496846193

In [7]:
a = 23
b=int(a*3)
print( "Вы ввели число, которое при умножении на 3 даёт ",b)

Вы ввели число, которое при умножении на 3 даёт  69

In [9]:
string_1 = 'Hello, world!'
string_2 = 'Python <3'
string_3 =  'qwerty'
print(((len(string_1)*(len(string_2))*(len(string_3)))**(1/3)))

8.88748820522211

In [11]:
word = 'ОченьДлинноеСлово'
if len(word) > 7:
    print("Это слово длинное.")
else:
    print("Это слово короткое.")

Это слово длинное.

In [15]:
int(13.1)

13

In [14]:
number = 169
if type(number**(1/2)) ==int:
    print(int(number**(1/2)))
else:
    print("Квадратный корень из",number**(1/2)," - не целое число")

Квадратный корень из 13.0  - не целое число

In [16]:
number = 169
if number**(1/2) == int(number**(1/2)):
    print(int(number**(1/2)))
else:
    print("Квадратный корень из",number**(1/2)," - не целое число")

13

In [17]:
number = int(input())
if number == 1:
    print('понедельник')
elif number == 2:
    print('вторник')
elif number ==3:
    print('среда')
elif number ==4:
    print('четверг')
elif number ==5:
    print('пятница')
elif number ==6:
    print('суббота')
elif number ==7:
    print('воскресенье')

5
пятница

In [19]:
weight = 80
height=1.8
imt = weight/(height**2)
if imt < 18.5 :
    print("Недостаточная масса тела")
elif imt<=24.99:
    print("Норма")
else:
    print("Избыточная масса тела")

24.691358024691358
Избыточная масса тела

In [1]:
"239" < "30" and 239 > 30

True

In [2]:
x = 5 
y = 10
y > x * x or y >= 2 * x and x < y

True

In [3]:
5 < 3 or 6 > 7 or 4 > 9

False

In [4]:
"5a"<"5b" and 123/2 > 30 or True

True

In [5]:
False and True or 12<5**2 and "Python" > "Ruby"

False

In [6]:
"Android" > "Apple" or "Apple" > "Android"

True

In [7]:
x = 10 
y = 15
y > x**y - 1000 or "test" > "push"

True

In [8]:
a = True 
b = False
a and b or not a and not b

False

In [11]:
hour = 18
minute = 47
if (hour==10 and (minute >0 and minute<30)) or ((hour>=12 and hour<=13)and(minute>0 and minute<40)) or (hour >=12 and hour <=17) or ((hour >=19 and hour <20)and(minute >=30)):
    print("Преподаватель свободен.")
else:
    print("Преподаватель занят.")

Преподаватель занят.

In [17]:
word = 'подшипник'
answe=''
for i in range(len(word)):
    if i%2!=1:
        answe=answe+word[i]
print(answe)

пдинк

In [18]:
word = 'подшипник'
answe=''
for i in range(len(word)):
    if i%2!=1:
        print(word[i])

п
д
и
н
к

In [19]:
year_1 = 2013
year_2 = 2020
for i in range(year_1,year_2+1):
    if i%4==0:
        print(i)

2016
2020

In [21]:
year_1 = 2013
year_2 = 2020
for i in range(year_1,year_2+1):
    if i%4==0:
        print(i,"год високосный")
    else:
        print(i,"год невисокосный")

2013 год невисокосный
2014 год невисокосный
2015 год невисокосный
2016 год високосный
2017 год невисокосный
2018 год невисокосный
2019 год невисокосный

In [26]:
word = 'Зимушка-зима'
for i in range(len(word)):
    if word[i] in ['у','е','ы','а','о','э','я','и','ю']:
        print(word[i])

и
а
и
а

In [30]:
name = 'Сергей'
for i in range(len(name)):
    print("Буква",i+1,"в этом имени -",name[i])

Буква 0 в этом имени - С
Буква 1 в этом имени - е
Буква 2 в этом имени - р
Буква 3 в этом имени - г
Буква 4 в этом имени - е
Буква 5 в этом имени - й

In [32]:
num_1 = 25
num_2 = 45
if num_1 <0 or num_1>num_2:
    print("Введён неверный диапазон чисел")
else:
    for i in range(num_1,num_2+1):
        if (i%2==1) and ((i%3==0)or(i%5==0)):
            print(i)

25
27
33
35
39
45

In [34]:
for i in range(1,11):
    print(i,i**2,i**3)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [36]:
#num_1 = int(input())
#num_2 = int(input())
num_1 = 12
num_2 = 38
for i in range(2,min(num_1,num_2)):
    if (num_1%i==0)and(num_2%i==0):
        print(i)

1
2

In [39]:
n = 10
fib1 = fib2 = 1 
for i in range(2, n):
    fib1, fib2 = fib2, fib1 + fib2
print(fib2, end=' ')

55

In [41]:
number = 15
for i in range(1,11):
    print(number,'X',i,'=',number*i)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [6]:
num_1 = 1812
num_2 = 2500
while (num_1 !=0) and (num_2!=0):
    if num_1>num_2:
        num_1= num_1%num_2
    else:
        num_2=num_2%num_1
print(num_1+num_2)

4

In [9]:
num1 = 1812
num2 = 2500
def gcd(num1, num2):
    res = num1 % num2
    if res == 0:
        return num2
    else:
        return gcd(num2, res)
print(gcd(num1,num2))

4

In [11]:
num_1 = 1812
num_2 = 2500
for i in range (1,min(num_1,num_2)):
    if (num_1%i==0)and(num_2%i==0):
        nod=i;
if nod!=1:
    print(nod)
else:
    print("Общих делителей не найдено")

4

In [14]:
#string = input()
string = 'абстракция'
for i in range(len(string)):
    if string[i]=='а' or string[i]=='б' or string[i]=='в':
        continue
    else:
        print(string[i],end='')

стркция

In [43]:
string = 'Нет'
int=1
for i in range(5):
    if string=='Да':
        print("Это отлично!")
        break
    elif i==4:
        print("Это безнадёжно!")
    else:
        print("Увы, это неправильный ответ")
        int=+1

Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Это безнадёжно!

In [47]:
k=0
while(True):
    ans=input()
    if ans=="Да":
        print("Это отлично")
        break
    else:
        k+=1
        if (k>=5):
            print("Это безнадежно")
            break
        print("Увы, это неправильный ответ")

нет
Увы, это неправильный ответ
нет
Увы, это неправильный ответ
нет
Увы, это неправильный ответ
нет
Увы, это неправильный ответ
нет
Это безнадежно

In [48]:
string = 'Нет'
k=0
while(True):
    if string=="Да":
        print("Это отлично")
        break
    else:
        k+=1
        if (k>=5):
            print("Это безнадежно")
            break
        print("Увы, это неправильный ответ")

Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Это безнадежно

In [56]:
string = 'прелестная строка'
for i, letter in enumerate(string):
    if i%2 == 0 and (letter in ('а','о','у','ы','э','и','е','ю','я')):
        print("Строка мне не нравится!")
        break
else:
    print("Какая хорошая строка!")

Строка мне не нравится!

In [58]:
string = 'прелестная строка'
k=0
for i in range(len(string)):
    if i%2==0:
        if string[i] not in ['у','е','ы','а','о','э','я','и','ю']:
            k=+1
        else:
            print("Строка мне не нравится!")
            break
if k==len(string)/2:
    print("Какая хорошая строка!")

Строка мне не нравится!

In [59]:
#Y = int(input())
#Z = int(input())
Y = 170000
Z = 1000000
mult = 1.1
year=0
while Y<Z:
    Y=Y*mult
    year+=1
print(year)

19

In [60]:
 weight = 77
 weight_sum=0;
 while weight_sum <400:
     weight_sum+=weight
print("Перевес" ,weight_sum-400, "кг")

Перевес 62 кг

In [61]:
balance =10000
spent = 2800
while balance >0:
    balance-=spent
    print(balance)
print("Слишком большие расходы")

7200
4400
1600
-1200
Слишком большие расходы

In [62]:
balance =10000
spent = 2800
while balance >0:
    balance-=spent
    if balance<0:
        print("Слишком большие расходы")    
    else:
        print(balance)

7200
4400
1600
Слишком большие расходы

In [63]:
volume=1000
cap=5
int =0
while volume>0:
    volume-=cap
    cap+=5
    int+=1
print(int)

20

In [68]:
a='rg'
b='th'
print(a+b)
print(a//b)

rgth

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [69]:
for i in range(10):
    if i >= 3:
        break
print(i)

3

In [71]:
count =1
while count <27:
    if count%2==0:
        to=12
    else:
        to=10
    count+=1
print(to)

12

In [1]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']

In [2]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [3]:
body[-1]

'туловище'

In [4]:
body[-1:]

['туловище']

In [5]:
body[7:]

['туловище']

In [6]:
body[7:-1]

[]

In [7]:
body

['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [8]:
body[:]

['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [13]:
body[-7:-5]

['руки', 'ноги']

In [14]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']

In [15]:
sparta[0:9:2]

['Иванов', 'Сидоров', 'Дятлов', 'Лисичкин', 'Капустин']

In [16]:
sparta[1:9:3]

['Петров', 'Дятлов', 'Огурцов']

In [17]:
sparta[0:9:5]

['Иванов', 'Козлов']

In [18]:
sparta[::-3]

['Арбузов', 'Лисичкин', 'Зайцев', 'Иванов']

In [19]:
sparta[-2:1:-3]

['Капустин', 'Козлов', 'Сидоров']

In [21]:
my_list = []
for number in range(1,11):
    my_list.append(number**2)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
names = ['Андрей', 'Илья', 'Александр', 'Ипполит', 'Анна', 'Константин', 'Елена', 'Мария']
my_list = []
for name in names:
    my_list.append(len(name))
print(my_list)
name_length = min(my_list)
print(name_length)
result = my_list.count(name_length)
print(result)

[6, 4, 9, 7, 4, 10, 5, 5]
4
2

In [24]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [25]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [26]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [28]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)
print(my_list)

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [29]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [30]:
my_list.count(my_list[0]) == 3

True

In [33]:
my_list=[]
for i in range(1,50):
    if i%3==0:
        my_list.append(i)
result=sum(my_list)
print(result)

408

In [39]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list=[]
for i in raw_list:
    my_list.append(len(i))
mi=min(my_list)   
ma=max(my_list)
result=mi+ma
print(result)

15

In [41]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min=min(raw_list)         
x_max=max(raw_list)
my_list=[]
for num in raw_list:
    if num%2==0:
        my_list.append(num*x_min)
    else:
        my_list.append(num*x_max)
result = max(my_list)
print(result)

5041

In [14]:
numbers = [x for x in range(3,10) if [x%y for y in range(2,x)].count(0) == 0]
print(numbers)

[3, 5, 7]

In [11]:
my_list = [x*y for x in range(11,20) for y in [0.9, 1, 1.1]]
print(my_list)

[9.9, 11, 12.100000000000001, 10.8, 12, 13.200000000000001, 11.700000000000001, 13, 14.3, 12.6, 14, 15.400000000000002, 13.5, 15, 16.5, 14.4, 16, 17.6, 15.3, 17, 18.700000000000003, 16.2, 18, 19.8, 17.1, 19, 20.900000000000002]

In [13]:
my_list = []
for x in range(1, 50):
    if x%7 == 0:
        my_list.append(x**0.5)
print(my_list)

[2.6457513110645907, 3.7416573867739413, 4.58257569495584, 5.291502622129181, 5.916079783099616, 6.48074069840786, 7.0]

In [16]:
my_list = [x**0.5 for x in range(1,50) if x%7 == 0]
print(my_list)

[2.6457513110645907, 3.7416573867739413, 4.58257569495584, 5.291502622129181, 5.916079783099616, 6.48074069840786, 7.0]

In [18]:
my_list = []
for x in range(90, 100):
    first_digit = x//10
    last_digit = x%10
    my_list.append(first_digit + last_digit)
print(my_list)

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [19]:
my_list = [x//10+x%10 for x in range(90, 100)]
print(my_list)

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [20]:
phones = [['+79033923029', 'Мария Никитина'], 
          ['+78125849204', 'Егор Савичев'], 
          ['+79053049385', 'Александр Пахомов'], 
          ['+79265748370', 'Алина Егорова'], 
          ['+79030598495', 'Руслан Башаров']]

In [21]:
phones=[]
phones.append(['+79033923029', 'Мария Никитина'])
phones.append(['+78125849204', 'Егор Савичев'])
phones.append(['+79053049385', 'Александр Пахомов'])
phones.append(['+79265748370', 'Алина Егорова'])
phones.append(['+79030598495', 'Руслан Башаров'])
print(phones)

[['+79033923029', 'Мария Никитина'], ['+78125849204', 'Егор Савичев'], ['+79053049385', 'Александр Пахомов'], ['+79265748370', 'Алина Егорова'], ['+79030598495', 'Руслан Башаров']]

In [22]:
employee_base={'Александр Пахомов':'+79053049385','Алина Егорова':'+79265748370','Руслан Башаров':'+79030598495'}

In [23]:
print(employee_base['Алина Егорова'])

+79265748370

In [2]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
country = 'Италия'
if country in draw_dict:
    group=draw_dict[country]
    #print(draw_dict[country])
else:
    group='unknown'
    #print('unknown')

In [9]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
draw_new={}
for draw in draw_dict:
    if draw_dict[draw] == 'A':
        draw_new[draw]=draw_dict[draw]

In [10]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
draw_new={}
for draw, group in draw_dict.items():
    if group == 'A':
        draw_new[draw]=group

In [11]:
print(sum([2504, 4994, 6343]))

13841

In [13]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
for name, phone in phones.items():
	if name == 'Кузнецова Дарья' and phone == 5142:
		print('Номер верен')
for record in phones:
	if record == 'Кузнецова Дарья' and phones[record] == 5142:
		print('Номер верен')

Номер верен
Номер верен

In [14]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
csv_file_filtered=[]
for record in csv_file:
    if record[2] >10:
        csv_file_filtered.append(record)

In [15]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots=[]
for record in csv_file:
    
#csv_dict_boots.append({'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20})
#csv_dict_boots.append({'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9})

In [28]:
results = [
	{'cost': 98, 'source': 'vk'},
	{'cost': 153, 'source': 'yandex'},
	{'cost': 110, 'source': 'facebook'},
]

print(min(results[]:['cost']))

SyntaxError: invalid syntax (<ipython-input-28-72cec3f43cda>, line 7)

In [32]:
defect_stats = [
	{'step number': 1, 'damage': 0.98},
	{'step number': 2, 'damage': 0.99},
	{'step number': 3, 'damage': 0.99},
	{'step number': 4, 'damage': 0.96},
	{'step number': 5, 'damage': 0.97},
	{'step number': 6, 'damage': 0.97},
]
size = 100
for step in defect_stats:
    size *= step['damage']
    if size < 90:
        print(step['step number'])
        break

5

In [33]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}
for curr in currency:
    size *= step['damage']
    if size < 90:
        print(step['step number'])
        break

5

In [34]:
17+56+1+88+56+2+3

223